@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Russo+One');



/*Сброс отстпупов*/
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/*--------*/
/*Общий контейнер для всего*/
.container{
    width: 100%;
    height: 100%;
    display: inline-block;

}
/*-----------------*/
/*Контейнер для шапки*/
.container_header{
    height: 250px;
    width: 100%;
    background-image: linear-gradient( to bottom right,rgb(45, 44, 44), rgb(92, 92, 92));
}
/*Кнопка предназначения для мобильнйо версии, чтобы открыть меню*/
.button_menu{
    position: absolute;
    display: none;
}
.header{
    display: flex;
}

.header header{
    font-size: 2em;
    font-family: 'Lobster';
    margin: 0 auto;
    color: #ffffff;

}
/*Кнопка "Войти"*/
.header .authorisation button {
    font-family: 'Open Sans';
    border: none;
    position: absolute;
    color: #ffffff;
    right: 10px;
    font-size: 1.2em;
    background: url(../img/user.png) no-repeat;
    padding-left: 20px;
    background-position-x: -5px;


}
/* Список достпуной навигации*/
.navigation{
    display: inline-block;
    width: 100%;
    height: auto;
    margin-top: 40px;


}
.navigation .menu li{
    font-size: 2vw;
    float: left;
    margin-left: 20%;
    font-family: 'Oswald', sans-serif;;

}
.menu a{
    color: #FFFED7;
}
/*Поисковая системы по сайту*/
.search_system {
    width: 50%;
    display: block;
    background: rgba(121, 121, 121, 0.76);
    padding: 10px;
    margin: 20px auto;
    background-origin: padding-box;
    border-radius: 5px;

}
/*Окно для вводы*/
.search_system input {
    width: 80%;
    height: 37px;
    border-radius: 2px;
    border: none;
}
/*Кнопка "Найта"*/
.search_system button{
    font-size: 1em;
    width: 8vw;
    height: 40px;
    background: rgb(231, 164, 33);
    border: none;
    color: #ffffff;
    border-radius: 5px;
    margin-left: 2%;
}
/*------------------------------------*/
/*Контейнер для контента*/
.container_content {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.3)

}
/*Список раздело*/
.list{
    display: block;
    width: 80%;
    height: 100%;
    padding: 10px 10% 20px 10%;

}
/*Учебник*/
.container_content header {
    font-family: 'Lobster';
    font-size: 2em;
    border-bottom: 1px solid rgb(88, 89, 89);
    color:rgb(65, 65, 65);
}
/* Стили для разделов*/
.container_content ul {

    font-size: 1.1em;
    text-decoration: none;
}
.container_content h2 {

    font-size: 1.6vw;
    font-family: 'Open Sans';
    color: rgb(153, 114, 11);
}
.container_content li{
    padding-top: 3px;
    font-family: 'Oswald';
}

.mechanics{
    margin-left: 20px;
    position: relative;
    width: 23%;
    padding: 5px;
    float: left;
}
.molecular_theory{

    width: 23%;
    padding: 5px;
    float: left;
}
.electrodynamics{

    width: 23%;
    padding: 5px;
    float: left;
}
.optics{

    width: 23%;
    padding: 5px;
    float: left;
}
.relativity_theory{
    margin-left: 20px;
    float: left;
    width: 23%;
    padding: 20px 5px 5px  5px;
    clear: both;
}
.quantum_physics{
    width: 23%;
    padding: 20px 5px 5px  5px;
    float: left;
}
.atom_physics{
    width: 23%;
    padding: 20px 5px 5px  5px;
    float: left;
}
/*----------------------------------*/
/*Подвал*/
footer{
    margin-top: 20px;
    position: absolute;
    clear: both;
    width: 100%;

    background-image: linear-gradient( to bottom right,rgb(45, 44, 44), rgb(92, 92, 92));

}
.footer_navigation{

    width: 100%;
}
.footer_navigation li{
    float: left;
    margin-left: 10%;
    font-family: 'Oswald';
}
.footer_navigation ul{
    width: 40%;
    display: inline-block;
    position: relative;
    margin: 10px auto;
    margin-left: 33%;
    font-size: 1.1em;

}
.footer_navigation a{
    color:  #FFFED7;
}


/* Активные элементы*/
a{
    color: rgba(31, 82, 232, 0.83);
}
.menu a:hover{
    color:  rgb(153, 114, 11);
    transition: all .3s;
}
.list a:hover{
    border-bottom: 1px solid rgba(0, 65, 255, 0.93);
}
.footer_navigation a:hover{
    color:  rgb(153, 114, 11);
    transition: all .3s;
}
/*---------------------------------------*/
/*Меню при нажатие button_menu*/
.mobil_menu{
    position: fixed;
    width: 250px;
    height: 100vh;
    background: rgb(255, 255, 255);
    z-index: 2;
    border-right: 5px solid rgba(61, 61, 61, 0.56);


}
 .active_button_menu{
     display: none;
     position: fixed;
     width: 100%;
     height: 100vh;
     z-index: 3;
 }
 .background{
    position: absolute;
    width: 100%;
    height: 100vh;
    background: rgba(40, 40, 40, 0.84);
    z-index: 1;
}
.mobil_menu h2{
    text-align: center;
    font-family: 'lobster';
    color:rgb(65, 64, 63);
}
.mobil_menu ul{
    position: relative;
    width: auto;
    font-size: 1.5em;
    margin: 10px 75px;
}
.mobil_menu ul li{
    text-align: center;
    font-family: 'Oswald';
    margin-top: 50px;
}
.mobil_menu a{
    color: rgb(185, 135, 24);
}

.clouse_menu{
    position: absolute;
    top: 0;
    z-index: 3;
    left: 100%;
    width: 60px;
    height: 60px;
    font-size: 2em;
    background: none;
    border: none;
    color:rgb(255, 255, 255);
}
/*------------------------*/

/* Адаптивные стили */

@media (max-width: 1180px) {

    .search_system{
        width: 90%;
    }
    .search_system button{
        width: 12vw;
        font-size: 2vw;
    }
    .container_content{
        width: 100%;
        font-size: 1em;
        padding: 20px 0 0 0;
    }
    .navigation .menu li{
        font-size: 30px;
    }
    .container_content h2{
        font-size: 20px;
    }
    .test{
        padding: 0;
        width: 100%;
    }

}
@media (max-width: 880px) {

    .container_content div{
        padding: 5px;
        text-align: center;
        margin: 0;
        font-size: 1.3em;
        width: 100%;
        clear: both;
        padding-top: 15px;
    }
    .container_content h2{
        font-size: 35px;
    }
    .navigation .menu li{
        font-size: 25px;
        float: left;
        margin-left: 16%;
        font-family: 'Oswald', sans-serif;;

    }
    .container_content header{
        text-align: center;
    }

}
@media (max-width: 550px) {
    .container_header{
        height: 60px;
        width: 100%;
        min-width: 350px;
        background-image: linear-gradient( to bottom right,rgb(45, 44, 44), rgb(92, 92, 92));
    }
    .button_menu{
        position: absolute;
        display: block;
        background: url(../img/menu.png);
        width: 60px;
        height: 60px;
        border: none;
        margin-top: -3px;
    }
    .log_in{
        margin-top: 10px;
    }
    .header header{
        font-size: 1.3em;
        font-family: 'Lobster';
        margin-left: 60px;
        color: #ffffff;
        margin-top: 10px;

    }
    .navigation{
        display: none;
    }
    .search_system{
        display: none;
    }
    .container_content h2{
        font-size: 30px;
    }

    .container_content div{
        font-size: 0.9em;
    }
    .footer_navigation ul{
        margin: 10px 0;
    }
    .footer_navigation li{
        clear: both;
    }


@media (max-width: 1400px ) {
    .container_content{
        font-size: 120%;
    }
}
/*--------------------------------------*/
